body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  //pipe not to show
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

h2:before {
  content:"<";
  color: #eee;
}

h2:after {
  content:">";
  color: #eee;
}

.navbar-logo {
  color: #ff851b;
  text-decoration: none;
}

.navbar-logoitem:hover {
  color: #ff851b;
  text-decoration: none;
}

.navbar-logoitem {
  color: #ff851b;
  text-decoration: none;
}

.link:active,
.link:hover {
  color: #ff851b !important;
  text-decoration: none;
}

.link {
  color: #999999;
  font-size: 1.125rem;
  margin: auto 1rem auto auto;
  padding: .5rem;
  text-decoration: none;
  transition: color 1s ease;
}

